<div class="main-container">
  <div class="container adding-list-modal">
    <h4>Let's Do It !</h4>
    <form class="adding-list-form">
      <label for="category">Category</label>
      <select name="categories">
        <option value="Categories" selected>Categories</option>
        <option
          value="{{ item.name }}"
          id="{{ item.id }}"
          *ngFor="let item of categoryList"
        >
          {{ item.name }}
        </option>
      </select>
      <label for="task">Task</label>
      <textarea name="task" id="task" placeholder="Enter Your Task"></textarea>
      <div class="adding-list-form--button">
        <button
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          SEND
        </button>
      </div>
    </form>
  </div>
</div>
