$background:#06283D;
$secondary:#256D85;
$primary:#47B5FF;

.task{
    background: $background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:12px;
    border-radius: 5px;
    margin-bottom: 5px;
    .text{
        color:white;
    }
    .actions{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 200px;

        button{
            border:none;
            background:transparent;
            color:$primary;
            border:1px solid $primary;
            padding:10px 15px;
            cursor: pointer;
            border-radius: 14px;
        }
    }
}

.completed-task{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background: greenyellow;
    padding:25px;
    font-weight: 900;
    border-radius: 8px;
    margin-top:10px;
}