*{
    margin: auto;
    box-sizing: border-box;
}

.todos{
   width: 100%;
}
.todo_header{
    margin: 5rem 0rem;
}
.todo_input{
    margin-bottom: 2rem;
}

/* .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
} */


