//Variables
$first-color: #1e2f97;
$second-color: #1aa7ec;
$third-color: #4adede;
$forth-color: #797ef6;
$background-color: #b8e3ff;
$font-family: "Quicksand", sans-serif;
$completed: #8c92ac;
$button-bg: #ff0081;
@mixin display($display, $align-items, $justify-content, $flex) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex;
}

h3 {
  color: #ededed;
  font-weight: 300;
  font-size: 1.5rem;
  padding-left: 3rem;
  margin-bottom: 1rem;
}
.container {
  width: 100%;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
  @include display(flex, center, flex-start, column);
  &::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.3rem;
    background: $background-color; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $third-color; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
}
.tasks-item {
  width: 100%;
  @include display(flex, flex-start, space-between, column);
  .task {
    width: 90%;
    height: 9vh;
    background-color: $forth-color;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    @include display(flex, center, flex-start, row);
    cursor: pointer;
    .task-box {
      position: relative;
      margin-right: 2rem;
      width: 5vh;
      height: 5vh;
      background-color: red;
      border-radius: 50%;
      i {
        font-size: 1.7rem;
        position: absolute;
        top: 20%;
        right: 15%;
        z-index: 10;
        color: palegreen;
        display: none;
      }
      .inline-box {
        position: absolute;
        top: 10%;
        right: 10%;
        z-index: 2;
        width: 4vh;
        height: 4vh;
        border-radius: 50%;
        background-color: $forth-color;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
    .task-content {
      color: #b8e3ff;
    }
  }
}
.completed-task {
  background-color: $completed !important;
  .task-box {
    background-color: #383a45 !important;
    i {
      display: block !important;
    }
    .inline-box {
      background-color: $completed !important;
    }
  }
  .task-content {
    text-decoration: line-through;
  }
}
.adding-button {
  width: 100%;
  margin: 1rem;
  @include display(flex, center, flex-end, row);
  button {
    margin-right: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: deeppink;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    i {
      font-size: 2rem;
      font-weight: 200;
      color: white;
    }
  }
  .bubbly-button {
    display: inline-block;
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    background-color: $button-bg;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

    &:focus {
      outline: 0;
    }

    &:before,
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1000;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }

    &:before {
      display: none;
      top: -75%;
      background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(
          circle,
          transparent 20%,
          $button-bg 20%,
          transparent 30%
        ),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(
          circle,
          transparent 10%,
          $button-bg 15%,
          transparent 20%
        ),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%);
      background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
        15% 15%, 10% 10%, 18% 18%;
      //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }

    &:after {
      display: none;
      bottom: -75%;
      background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(
          circle,
          transparent 10%,
          $button-bg 15%,
          transparent 20%
        ),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%);
      background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
        20% 20%;
      //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    &:active {
      transform: scale(0.9);
      background-color: darken($button-bg, 5%);
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
    &.animate {
      &:before {
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
      }
      &:after {
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
      }
    }
  }
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
}
